.container{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-filmes{
    margin: 10px;
    margin-top: 40px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px;
    padding: 15px;
}

.lista-filmes strong{
    padding-bottom: 12px;
    font-size: 28px;
    width: 100%;
    background: #222;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    text-align: center;
}

.lista-filmes img{
    width: 100%
    /* max-height: 350px; */
}

.lista-filmes article a, .lista-filmes article button{
    text-decoration: none;
    background: crimson;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18x;
    text-align: center;
}

.lista-filmes article a:hover, .lista-filmes article button{
    background: rgb(196, 92, 112);
    transition: all 0.5s;
}